<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.eawf.eawfd</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/env</string>
        <string>uv</string>
        <string>tool</string>
        <string>run</string>
        <string>eawf</string>
        <string>daemon</string>
        <string>run</string>
        <string>--foreground</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{ runtime_dir }}/eawfd.log</string>
    <key>StandardErrorPath</key>
    <string>{{ runtime_dir }}/eawfd.err</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>EAWF_RUNTIME_DIR</key>
        <string>{{ runtime_dir }}</string>
    </dict>
</dict>
</plist>
